<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::section})}">
<section>

    <h2>Books</h2>

    <form method="get" action="/books">
        <input name="q" th:value="${q}" placeholder="Search">
        <button type="submit">Search</button>
    </form>

    <h3>Add Book</h3>
    <form method="post" action="/books" th:object="${newBook}" enctype="multipart/form-data">
        <input type="file" name="coverFile" required>
        <input th:field="*{id}" placeholder="ID" required>
        <input th:field="*{title}" placeholder="Title" required>
        <input th:field="*{author}" placeholder="Author" required>
        <input th:field="*{category}" placeholder="Category" required>
        <input th:field="*{totalCopies}" type="number" min="1" required>
        <button type="submit">Add</button>
    </form>

</section>
</html>
